In [ ]:
#Q1  # String variable

In [3]:
my_string="pw skills"

In [4]:
#list variable

In [5]:
mylist=[1,2,32,4,5,8,]

In [6]:
#float variable

In [7]:
myfloat=456.369

In [8]:
#tuple variable

In [9]:
mytuple=(10,20,30,40,50)

In [16]:
#Q2  #var1 = ‘ ‘
#var2 = ‘[ DS , ML , Python]’
#var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#var4 = 1.

In [15]:
#The data types of the given variables are as follows:

#(i) var1 is a string.
#(ii) var2 is also a string.
#(iii) var3 is a list.
#(iv) var4 is a float.

In [14]:
#Q3  #(i) /
#(ii) %
#(iii) //
#(iv) **

In [17]:
#/ is division operater ex
4/5

0.8

In [19]:
# % modulus operater ex
5%7

5

In [20]:
# // division flur ex
54//78

0

In [4]:
# ** exponent power operater ex
2**4

16

In [27]:
mylist=[1,2,3,4,5,6,7,8,9,10,"pwskills",4578.369]

In [11]:
# Create an empty list
numbers = []

# Populate the list with 25 integers
for i in range(1, 26):
    numbers.append(i)

# Check if each element in the list is divisible by 3
for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [11]:
# Create an empty list
numbers = []

# Populate the list with 25 integers
for i in range(1, 26):
    numbers.append(i)

# Check if each element in the list is divisible by 3
for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [12]:
#Q 5
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0

while A % B == 0:
    A = A // B
    count += 1

if A == 0:
    print("A is divisible by B")
    print("Number of divisions:", count)
else:
    print("A is not divisible by B")

Enter the value of A:  44
Enter the value of B:  44

A is not divisible by B

In [14]:
#Q 6
# Create an empty list
numbers = []

# Populate the list with 25 integers
for i in range(1, 26):
    numbers.append(i)

# Check if each element in the list is divisible by 3
for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [15]:
#Q 7
# the value allow you to change its value without change its identity it is called mutable object
#the value not allow to change object it is called immutable object

In [17]:
l=[1,2,3,4,5,6,7,8,9,"ayan",6958.325]

In [18]:
l[4]

5

In [19]:
l[4]=79

In [20]:
l

[1, 2, 3, 4, 79, 6, 7, 8, 9, 'ayan', 6958.325]

In [21]:
a="ayan"

In [22]:
a[3]

'n'

In [23]:
a[3]=g

NameError: name 'g' is not defined